<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Pedidos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../assets/css/estilo.css">

    <script type="module" src="../../model/catalogo.js"></script>

  </head>
  <body class="quemSomos">
    <div class="row estiloBaclgroundOpacidade">
      <div class="centalizar col-md-4">
        <a href="../../index.html"><img src="../assets/img/logo.png"></a>
      </div>
    
    
      <div class="centalizar col-md-4">
        <div>
          <nav class="navbar navbar-expand-lg navbar-light "> 
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav meio">
                <li class="nav-item active">
                  <a class="nav-link menuLink estiloCordegrade" href="./pedidos.html">Ver Lita de pedidos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link menuLink estiloCordegrade" href="./novoproduto.html">Adicionar novo produto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    
    
    
      <div class="centalizar col-md-4 menu">
            
        </div>
    
    
    
    </div>
    </header>
  <!-- End header section -->
 
  <!-- Start Restaurant Menu -->
  <main>
    <div class="container">
      <div class="estiloBaclgroundOpacidade">
      <h3 class=" p-4 estiloCordegrade tituloDestaque ">Cátalogo</h3>
    </div>

      <div class="row p-4 m-4" id="catalogo"></div>
    
    </div>
  </main>
  <!-- Start Footer -->
  <footer id="mu-footer " class="estiloBaclgroundOpacidade">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="mu-footer-area">
          <div class="mu-footer-copyright">
            <p class="text-center" style="color:#c0c0c0"> Desenvolvido por Carlos Eduardo Matte</p>
            <p class="text-center" style="color:#c0c0c0">&copy; CNPJ: 99.999.999/9999-99 © Todos os direitos reservados. 2023</p>
          </div>         
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../assets/js/pedido.js"></script>
</body>
</html>