<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Pedidos</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../assets/css/estilo.css">

    <script type="module" src="../../model/pedidos.js"></script>

  </head>
  <body class="quemSomos">
    <header>
      <div class="row estiloBaclgroundOpacidade">
        <div class="centalizar col-md-4">
          <a href="../../index.html"><img src="../assets/img/logo.png"></a>
        </div>
      
      
        <div class="centalizar col-md-4">
          <div>
            <nav class="navbar navbar-expand-lg navbar-light "> 
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav meio">
                  <li class="nav-item active">
                    <a class="nav-link menuLink estiloCordegrade " href="./catalogo.html">Ver Catalogo</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link menuLink estiloCordegrade " href="./novoproduto.html">Adicionar novo produto</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      
      
      
        <div class="centalizar col-md-4 menu">
              
          </div>
      
      
      
      </div>
    </header>
  <!-- End header section -->
 
  <!-- Start Restaurant Menu -->
  <main class="">
  <section id="mu-restaurant-menu ">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-restaurant-menu-area">

            <div class="mu-title">
              <span class="mu-subtitle"></span>
              <h2 class="tituloDestaque tituloPedidos">Pedidos</h2>
              <div class="search-box">         
              <div class="container">
                <div class="row">
                  <div class="col-md-6 m-0 p-0">
                    <!-- Input -->
                    <div class="col-md-12 m-0 " style="padding-left: 120px; padding-right: 0px;">
                    <input style="border-radius: 10px 0px 0px 10px!important;" type="text" id="suaBarraDePesquisa" class="form-control" placeholder="Digite aqui...">
                    </div>
                  </div>
                  <div class="col-md-6 m-0 p-0">
                    <!-- Botão -->
                    <div class="col-md-6 estiloBotao pesquisaTabelaProduto  mb-2">
                    <a type="submit"><h5>
                      Buscar pedido
                      <img src="https://icones.pro/wp-content/uploads/2021/06/icone-loupe-noir.png" alt="Buscar" style="width: 15%">
                    </h5>
                    </a>
                  </div>
                  </div>
                </div>
              </div>
            
            </div>
    </head>
    <body>

  
    
    <table class="table" >
      <thead>
        <tr>
          <th>Número do Pedido</th>  
          <th>Nome do Cliente</th>
          <th>Contato do Cliente</th>
          <th>Enderenço do Cliente</th>
          <th>Pedido do Cliente</th>
          <th>Data de Entrega</th>
          <th>Status da Entrega</th>
        </tr>
      </thead>
      <tbody class="lista_pedidos">

       
      </tbody>
    </table>
    <div class="botoes">
    <button id="botaoExcluirTodos" class="estiloBotao">Excluir Todos os Pedidos</button>
  </div>
  </section>
  <!-- End Contact section -->
</main>
  <!-- Start Footer -->
  <footer id="mu-footer " class="estiloBaclgroundOpacidade">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <div class="mu-footer-area">
          <div class="mu-footer-copyright">
            <p class="text-center" style="color:#c0c0c0"> Desenvolvido por Carlos Eduardo Matte</p>
            <p class="text-center" style="color:#c0c0c0">&copy; CNPJ: 99.999.999/9999-99 © Todos os direitos reservados. 2023</p>
          </div>         
        </div>
      </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="../assets/js/pedido.js"></script>
  <script type="module" src="../../model/pedidos.js"></script>
</body>
</html>